<div class="col-12  h-4rem border-round-lg  flex flex-row-reverse" [ngStyle]="{backgroundColor:'var(--gray-50)'}">
  <div class="md:hidden absolute flex mr-2 align-items-center h-3rem">
     <button pButton pRipple type="button" (click)="ngClick()"
              class="p-button-secondary p-button-text md:w-5rem w-full md:w-6rem ">
    <i class=" pi-bars pi"></i>
     </button>
  </div>
  <ul style="list-style: none"
      class=" {{test}}     md:block    border-round md:h-1rem  bg-gray-50 h-19rem md:ml-0 md:mt-auto mt-7  md:flex lg:col-6 xl:col-6 flex-row-reverse md:col-12 col-12 align-items-center">
    <li class="my-3 ">
        <button pButton pRipple type="button"
              class=" w-full md:w-5rem flex justify-content-center md:w-2rem p-button-success p-button-text">
        <img class="border-circle w-2rem h-2rem md:h-2rem  md:w-2rem " style="object-fit: cover"
             src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
             alt="">
      </button>
    </li>
    <li class="my-3">
      <button pButton pRipple type="button" label="home"
              class="p-button-secondary p-button-text md:w-5rem w-full md:w-6rem ">
        <i class="pi-home pi "> </i>
      </button>
    </li>
    <li class="my-3">
      <button pButton pRipple type="button" label="about us"
              class=" w-full md:w-8rem  p-button-secondary p-button-text">
        <i class="pi-users pi "> </i>
      </button>
    </li>
    <li class="my-3">
      <button pButton pRipple type="button" label="product"
              class="  p-button-secondary md:w-8rem p-button-text w-full md:w-5rem ">
        <i class="pi-tag pi "> </i>
      </button>
    </li>
    <li class="my-3">
      <button pButton pRipple type="button" label="massages"
              class="p-button-secondary p-button-text md:w-8rem w-full md:w-5rem">
        <i class="pi-comments pi "> </i>
      </button>
    </li>

  </ul>
</div>
